/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Karla:wght@400;600&display=swap");

/* 

font-family: 'Inconsolata', monospace;
font-family: 'Karla', sans-serif;
*/
/* Root */
:root {
  --primary-color: hsl(222, 40%, 13%);
  --primary-color__accent: hsl(224, 40%, 20%);
  --secondary-color: hsl(213, 93%, 53%);
  --white: hsl(60, 100%, 99%);
  --offwhite: hsl(223, 16%, 70%);
  --ff-primary: "Inconsolata", monospace;
  --ff-secondary: "Karla", sans-serif;
}
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1,
h2,
h3,
h4,
p {
  font-family: var(--ff-secondary);
  margin-top: 0;
}
/* Utils */
.btn {
  padding: 0.75em 1em;
  display: inline-block;
  border: none;
  background: none;
  border-radius: 0.35em;
  color: var(--white);
  font-size: 0.9rem;
}

.btn-secondary {
  background-color: var(--secondary-color);
}
/* Layouts */
body {
  color: var(--white);
  background: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 350px;
  line-height: 1.4;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 0.85em;
}

/* Main */
main {
  padding: 0.85em 1em;
}

main section {
  background-color: var(--primary-color__accent);
}

/* Form Field */
.form-field {
  padding: 0.98em 1em;
  margin: 0.85em 0;
  width: 100%;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color__accent);
}

.bx-search {
  color: var(--secondary-color);
  font-size: 1.4rem;
  margin-right: .052em;
}

#searchInput {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--white);
  font-size: 1.1rem;
  width: 70%;
  padding: .56em 0;
}

#searchInput::placeholder {
  color: var(--offwhite);
  text-transform: capitalize;
  font-size: 1.03rem;
  font-family: var(--ff-primary);
}

/* Github profile */
.github-profile {
  height: 100px;
  overflow: hidden;
  border-radius: 0.45em;
  padding: 1em 1.14em;
  transition: .4s ease;
}

/* Error */
.error{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .4em 0;
    opacity: 0;
}

.error img{
    display: block;
    width: 60%;
}

.error p{
    font-size: 1.2rem;
    margin: .5em 0;
}

/* github-profile__holder */
.github-profile__holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: .5em;
    font-family: var(--ff-primary);
}

.github-profile__holder img{
    height: 85px;
    width: 85px;
    object-position: contain;
    border-radius: 50%;
}

.github-profile__bio p{
    margin: .25em 0;
}

.github-profile__bio p a {
    font-family: var(--ff-secondary);
    color: var(--secondary-color);
}

/* github-profile__info */
.github-profile__info{
    margin-top: 1em;
    font-family: var(--ff-primary);
}

.github-profile__info p{
    margin-bottom: .35em;
    line-height: 1.1;
}

/* github-stats */
.github-stats{
    background: var(--primary-color);
    padding: .7em;
    border-radius: .5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 1em 0;
}

.github-stat h3{
    margin-bottom: .4em;
    font-size: .9rem;
    font-family: var(--ff-secondary);
    font-weight: 500;
}

.github-stat p{
    font-size: 1.45rem;
    margin-bottom: 0;
}

/* github-extras */
.github-extra{
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: .2em 0;
    margin-bottom: .5em;
    gap: .5em;
}

.github-extra p{
    margin-bottom: 0;
    font-family: var(--ff-primary);
}

.github-extra > *{
    font-size: 1.11rem;
}

/* Animation to fade */
.fadeIn {
  animation: 0.3s fade forwards;
  animation-delay: 0.3s;
}

@keyframes fade {
  to {
    scale: 1;
    opacity: 1;
  }
}